body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #333;
}
h1,h2{
    color: black;
}

p{
    font-size: 16px;
    line-height: 1.6;
}

a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.header-background{
    background-color: #2c3e50;
    color: white;
    padding: 40px 0;
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    font-size: 17.6px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: 0.3 ease;
}
.header-content h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.header-content p{
    font-size: 19.2px;
}

#about-me:hover{
    padding: 40px 20px;
    background-color: white;
    text-align: center;

}
.profile-photo{
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

#qualifications{
    padding: 40px 20px;
    background-color: #ecf0f1;
}
#qualifications table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#qualifications th, #qualifications td{
    padding: 10px;
    border: 1px solid #bdc3c7;
    text-align: left;
}

#qualifications th{
    background-color: #3498db;
    color: white;
}

#interest-hobbies{
    padding: 40px 20px;
    color: white;
    text-align: center;
}

.interest {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 19.2px;
    border-radius: 5px;
}

.interest:hover{
    background-color: #2980b9;
}

#contact-me{
    padding: 40px 20px;
    background-color: #ecf0f1;
    text-align: center;
}

#contatcForm{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.form-field{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2980b9;
}

#contact-me a{
    color: #3498db;
    text-decoration: none;
    font-size: 17.6;
    transition: 0.3s ease;
}
#contact-me a:hover{
    color: #2980b9;
    text-decoration: underline;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}